<h1><%= t('.title') %></h1>

<div class="textcontent">
  <%= link_to t('.add_language'), new_admin_language_path %>
</div>

<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= order @search, :by => :name, :as => t('formtastic.labels.language.name'), :params_scope => :order %></th>
    <th><%= order @search, :by => :code, :as => t('formtastic.labels.language.code'), :params_scope => :order %></th>
    <th class="actions"><%= image_tag 'admin/magnifier.png', :class => :filter_toggle, :alt => t('admin.common.apply_filter') %></th>
  </tr>
  </thead>
  <tr class="filter"<%= ' style="display: none;"' unless filtering? %>>
    <% semantic_form_for @search, :html => {:class => 'searchform'} do |form| %>
    <% semantic_fields_for @search do |f| %>
    <td><%= f.input :name_like, :label => false %></td>
    <td><%= f.input :code_like, :label => false %></td>
    <td class="actions"><%= f.submit :search, :value => t('admin.common.search') %></td>
    <% end %>
    <% end %>
  </tr>
  <%= filter_notify(3) %>
  
  <% for language in @languages %>
  <tr>
    <td><%=h language.name %></td>
    <td><%=h language.code %></td>
    <td class="actions">
      <%= link_to t('admin.common.edit'), edit_admin_language_path(language) %>
    </td>
  </tr>
  <% end %>
  </table>
  <%= paginate %>
</div>
