<h1><%= @event.name %></h1>

<div class="textcontent">
<table>
<tr>
  <td><b><%= t('formtastic.labels.event.event_type') %></b></td>
  <td><%=h @event.event_type.name %></td>
</tr>
<tr>
  <td><b>Talgujuht</b></td>
  <td><%=h @event.manager.name %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.name') %></b></td>
  <td><%=h @event.name %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.location_address_street') %></b></td>
  <td><%=h @event.location_address_street %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_aim_description') %></b></td>
  <td><%=h @event.meta_aim_description %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_job_description') %></b></td>
  <td><%=h @event.meta_job_description %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.max_participants') %></b></td>
  <td><%=h @event.max_participants %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.begins_at') %></b></td>
  <td><%=h @event.begins_at %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.ends_at') %></b></td>
  <td><%=h @event.ends_at %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_bring_with_you') %></b></td>
  <td><%=h @event.meta_bring_with_you %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_provided_for_participiants') %></b></td>
  <td><%=h @event.meta_provided_for_participiants %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_subject_info') %></b></td>
  <td><%= urls_to_links(h(@event.meta_subject_info), :target => :blank) %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.gathering_location') %></b></td>
  <td><%=h @event.gathering_location %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.gathering_time') %></b></td>
  <td><%=h @event.gathering_time %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.notes') %></b></td>
  <td><%=h @event.notes %></td>
</tr>
</table>
</div>

<% semantic_form_for @event, :url => admin_event_path(@event.id) do |f| %>
  <% f.inputs do %>
    <%= f.input :status, :as => :select, :collection => Event::STATUS.keys.collect{ |s| [t("formtastic.labels.event.statuses.#{s}"), s.to_s] }, :include_blank => false %>
  <% end %>
  <%= f.buttons %>
<% end %>
