<h1><%= @event.name %></h1>

<div class="textcontent">
  <div style="margin-bottom:10px;">    
    <% if permitted_to?(:edit, :admin_events) %>
    <%= link_to t('admin.common.edit'), edit_admin_event_path(@event.id) %><br/>
    <% end %>
    <%= link_to t('admin.common.export_xml'), admin_event_path(@event.id, :format => :xml) %><br/>
    <%= link_to t('admin.common.export_csv'), admin_event_path(@event.id, :format => :csv) %><br/>
    <%= link_to t('admin.common.export_excel'), admin_event_path(@event.id, :format => :xls) %>
  </div>
<table>
<tr>
  <td style="width: 25%;"><b><%= t('formtastic.labels.event.code') %></b></td>
  <td><%=h @event.code %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.event_type') %></b></td>
  <td><%=h @event.event_type.name %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.location_address_street') %></b></td>
  <td><%=h @event.location_address %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_aim_description') %></b></td>
  <td><%=h @event.meta_aim_description %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_job_description') %></b></td>
  <td><%=h @event.meta_job_description %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.max_participants') %></b></td>
  <td><%=h @event.max_participants %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.current_participants') %></b></td>
  <td><%=h @event.current_participants %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.begins_at') %></b></td>
  <td><%=h @event.begins_at %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.ends_at') %></b></td>
  <td><%=h @event.ends_at %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_bring_with_you') %></b></td>
  <td><%=h @event.meta_bring_with_you %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_provided_for_participiants') %></b></td>
  <td><%=h @event.meta_provided_for_participiants %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_subject_info') %></b></td>
  <td><%= auto_link(@event.meta_subject_info, :all, :target => "_blank") %></td>
</tr>
<% unless @event.languages.empty? %>
<tr>
  <td><b><%= t('formtastic.labels.event.languages') %></b></td>
  <td><%=h @event.languages.collect(&:name) * ', ' %></td>
</tr>
<% end %>
<tr>
  <td><b><%= t('formtastic.labels.event.gathering_location') %></b></td>
  <td><%=h @event.gathering_location %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.notes') %></b></td>
  <td><%=h @event.notes %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_subject_owner') %></b></td>
  <td><%=h @event.meta_subject_owner %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_subject_protegee') %></b></td>
  <td><%=h @event.meta_subject_protegee %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_subject_heritage_number') %></b></td>
  <td><%=h @event.meta_subject_heritage_number %></td>
</tr>
</table>
</div>

<% semantic_form_for @event, :url => admin_event_path(@event.id) do |f| %>
  <% f.inputs do %>
    <%= f.input :status, :as => :select, :collection => Event::STATUS.keys.collect{ |s| [t("formtastic.labels.event.statuses.#{s}"), s.to_s] }, :include_blank => false %>
  <% end %>
  <%= f.buttons %>
<% end %>

<h2><%= t('.roles') %></h2>

<%= render :partial => 'shared/admin/object_roles' %>