<h1><%= t('.title', :municipality => @municipality.label) %></h1>

<div class="textcontent">
  <% if permitted_to?(:create, :admin_settlements) %>
  <%= link_to t('.add_settlement'), new_admin_county_municipality_settlement_path(@county, @municipality) %>
  <% end %>
</div>

<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= order @search, :by => :name, :as => t('formtastic.labels.settlement.name'), :params_scope => :order %></th>
    <th><%= order @search, :by => :kind, :as => t('formtastic.labels.settlement.kind'), :params_scope => :order %></th>
    <th><%= t('formtastic.labels.settlement.regional_managers') %></th>
    <th class="actions"><%= image_tag 'admin/magnifier.png', :class => :filter_toggle, :alt => t('admin.common.apply_filter') %></th>
  </tr>
  </thead>
  <tr class="filter"<%= ' style="display: none;"' unless filtering? %>>
    <% semantic_form_for @search, :html => {:class => 'searchform'} do |form| %>
    <% semantic_fields_for @search do |f| %>
    <td><%= f.input :name_like, :label => false %></td>
    <td><%= f.input :kind, :as => :select, :collection => Settlement::KIND.collect{ |s| [t("formtastic.labels.settlement.kinds.#{s}"), s.to_s] }, :include_blank => true, :label => false %></td>
    <td></td>
    <td class="actions"><%= f.submit :search, :value => t('admin.common.search') %></td>
    <% end %>
    <% end %>
  </tr>
  <%= filter_notify(4) %>
  
  <% for settlement in @settlements %>
  <tr>
    <td><%=h settlement.name %></td>
    <td><%=h t("formtastic.labels.settlement.kinds.#{settlement.kind}") %></td>
    <td><%= managers_for_object(settlement, 60) %></td>
    <td class="actions">
      <% if permitted_to?(:edit, :admin_settlements) %>
      <%= link_to t('admin.common.edit'), edit_admin_county_municipality_settlement_path(@county, @municipality, settlement) %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </table>
  <%= paginate %>
</div>
