<h1><%= t('.title') %></h1>

<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= order @search, :by => :name, :as => t('formtastic.labels.account.name') %></th>
    <th><%= order @search, :by => :domain, :as => t('formtastic.labels.account.domain') %></th>
    <th></th>
  </tr>
  </thead>
  <% for account in @accounts %>
  <tr>
    <td><%=h account.name %></td>
    <td><%=h account.domain %></td>
    <td><%= managers_for_object(account, 60) %></td>
  </tr>
  <% end %>
  </table>
  <%= paginate %>
</div>
