<div class="container-right" style="margin-left: 220px; width: 430px;">
  <h1>Registreeru kasutajaks</h1>
  
  <p style="margin-bottom: 20px;">
    <%= t('.registration_hint') %> <%= link_to t('.login_submit'), login_path %>.
  </p>
  
  <div style="width: 600px;">
  <% semantic_form_for :signup, @user, :url => signups_path do |f| %>
    <% f.inputs do %>
      <%= f.input :firstname %>
      <%= f.input :lastname %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :password, :as => :password %>
      <%= f.input :password_confirmation, :as => :password %>
    <% end %>
    <% f.buttons do %>
      <%= f.commit_button :signup %>
    <% end %>
  <% end %>
  </div>
</div>