<div id="submenu">
  <div class="submenu-border">
  <ul>
    <% if current_user %>
    <li<%= ' class="active"' if %w{my}.include?(action_name) %>><%= link_to 'Minu talgud', my_events_path %><span class="arrow"></span></li>
    <li<%= ' class="active"' if %w{edit update}.include?(action_name) %>><%= link_to 'Muuda seadeid', edit_user_path(current_user) %><span class="arrow"></span></li>
    <li><%= link_to 'Logi välja', logout_path %></li>
    <% end %>
  </ul>
  </div>
</div>