<ul id="mainmenu" class="clearfix">
  <li<%= ' class="active"' if %w{home}.include?(request.path_parameters[:controller]) %>><%= link_to 'Avaleht', home_path %></li>
  <li<%= ' class="active"' if %w{events}.include?(request.path_parameters[:controller]) and action_name != 'my' %>><%= link_to 'Talgud', events_path %></li>
  <% if current_user %>
  <li<%= ' class="active"' if 'users' == request.path_parameters[:controller] or action_name == 'my' %>><%= link_to 'Minu konto', my_events_path %></li>
  <% else %>
  <li<%= ' class="active"' if %w{user_sessions password_reminder}.include?(request.path_parameters[:controller]) %>><%= link_to 'Logi sisse', login_path %></li>
  <% end %>
</ul>