<ul id="mainmenu" class="clearfix">
  <li<%= ' class="active"' if %w{home}.include?(request.path_parameters[:controller]) %>><%= link_to 'Avaleht', home_path %></li>
  <li<%= ' class="active"' if %w{events}.include?(request.path_parameters[:controller]) %>><%= link_to 'Talgud', events_path %></li>
  <li<%= ' class="active"' if %w{user_sessions password_reminder}.include?(request.path_parameters[:controller]) %>><%= link_to 'Logi sisse', login_path %></li>
</ul>