<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= t('formtastic.labels.role.user') %></th>
    <th><%= t('formtastic.labels.user.email') %></th>
    <th><%= t('formtastic.labels.user.phone') %></th>
    <th><%= t('formtastic.labels.role.role') %></th>
    <th><%= t('formtastic.labels.role.model_type') %></th>
    <th><%= t('formtastic.labels.role.model_name') %></th>
  </tr>
  </thead>
  <% for role in @roles %>
  <tr>
    <td><%= link_to role.user.name, admin_user_path(role.user) %></td>
    <td><%= h role.user.email %></td>
    <td><%= h role.user.phone %></td>
    <td><%= t("formtastic.labels.role.roles.#{role.role}") %></td>
    <td><%= t("activerecord.models.#{role.model_type.downcase}") %></td>
    <td><%= role.model.try(:name) %></td>
  </tr>
  <% end %>
  </table>
</div>