<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <% if @search %>
    <th><%= order @search, :by => :user_firstname, :as => t('formtastic.labels.role.user') %></th>
    <th><%= order @search, :by => :user_email, :as => t('formtastic.labels.user.email') %></th>
    <th><%= order @search, :by => :user_phone, :as => t('formtastic.labels.user.phone') %></th>
    <th><%= order @search, :by => :role, :as => t('formtastic.labels.role.role') %></th>
    <th><%= order @search, :by => :model_type, :as => t('formtastic.labels.role.model_type') %></th>
    <th><%= t('formtastic.labels.role.model_name') %></th>
    <% else %>
    <th><%=h t('formtastic.labels.role.user') %></th>
    <th><%=h t('formtastic.labels.user.email') %></th>
    <th><%=h t('formtastic.labels.user.phone') %></th>
    <th><%=h t('formtastic.labels.role.role') %></th>
    <th><%=h t('formtastic.labels.role.model_type') %></th>
    <th><%=h t('formtastic.labels.role.model_name') %></th>
    <% end %>
  </tr>
  </thead>
  <% for role in @roles %>
  <tr>
    <td>
      <% if permitted_to?(:read, :admin_users) %>
      <%= link_to role.user.name, admin_user_path(role.user) %>
      <% else %>
      <%= role.user.name %>
      <% end %>
    </td>
    <td><%= h role.user.email %></td>
    <td><%= h role.user.phone %></td>
    <td><%= t("formtastic.labels.role.roles.#{role.role}") %></td>
    <td><%= t("activerecord.models.#{role.model_type.downcase}").capitalize %></td>
    <td><%= role.model.try(:label) %></td>
  </tr>
  <% end %>
  </table>
</div>