<h1><%= t('.title') %></h1>

<div class="textcontent">
  <% if permitted_to?(:create, :admin_event_types) %>
  <%= link_to t('.add_event_type'), new_admin_event_type_path %>
  <% end %>
</div>

<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= order @search, :by => :name, :as => t('formtastic.labels.event_type.name'), :params_scope => :order %></th>
    <th class="actions"><%= image_tag 'admin/magnifier.png', :class => :filter_toggle, :alt => t('admin.common.apply_filter') %></th>
  </tr>
  </thead>
  <tr class="filter"<%= ' style="display: none;"' unless filtering? %>>
    <% semantic_form_for @search, :html => {:class => 'searchform'} do |form| %>
    <% semantic_fields_for @search do |f| %>
    <td><%= f.input :name_like, :label => false %></td>
    <td class="actions"><%= f.submit :search, :value => t('admin.common.search') %></td>
    <% end %>
    <% end %>
  </tr>
  <%= filter_notify(2) %>
  
  <% for event_type in @event_types %>
  <tr>
    <td><%=h event_type.name %></td>
    <td class="actions">
      <% if permitted_to?(:edit, :admin_event_types) %>
      <%= link_to t('admin.common.edit'), edit_admin_event_type_path(event_type) %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </table>
  <%= paginate %>
</div>
