<h3><%= t('.title') %></h3>

<label><%= t('.county') %></label>
<%= select_tag :county, options_for_select([[t('common.filter_all'), '']] + County.all.collect{ |c| [c.name, c.id.to_s] }, :selected => params[:county]) %>

<label><%= t('.event_type') %></label>
<%= select_tag :event_type, options_for_select([[t('common.filter_all'), '']] + EventType.all.collect{ |c| [c.name, c.id.to_s] }, :selected => params[:event_type]) %>

<label><%= t('.event_code') %></label>
<%= text_field_tag :event_code, params[:event_code] %>

<%= submit_tag t('.search'), :name => '' %>