<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<%= javascript_include_tag 'markerclusterer', 'datamarker' %>
<script type="text/javascript" charset="utf-8">

  var event_locations_url = '<%= map_events_url(:format => :json) %>';
  var map, bounds, infowindow, markerCluster;

  function showMap() {
      map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7, scrollwheel: false,
          center: new google.maps.LatLng(58.564, 25.729),
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      
      bounds = new google.maps.LatLngBounds();
      infowindow = new google.maps.InfoWindow({maxWidth: 350});
      
      jQuery.getJSON(event_locations_url, addLocations);
  }
  
  /**
   *
   */
  function addLocations(data) {
      var markers = [];
    
      jQuery.each(data, function(i, point) {
          if (Math.abs(point.latitude) >= 0.1 && Math.abs(point.longitude) >= 0.1) {
              var position = new google.maps.LatLng(point.latitude, point.longitude);
              bounds.extend(position);
              
              var marker = new DataMarker({
                title: point.name, icon: (point.has_vacancies ? clusterer_yellow_icon : clusterer_red_icon),
                position: position, shadow: clusterer_shadow_icon
              });
              marker.setData(point);
              
              google.maps.event.addListener(marker, 'click', function() {
                  var cbody = '<div class="infowindow">';
                  cbody += '<h3><a href="' + point.url + '">' + point.name + '</a></h3>';
                  cbody += '<span class="object-type">' + point.event_type + '</span> ' + point.address;
                  if (point.aim_desc && point.aim_desc != '') {
                    cbody += '<div class="label"><%= t('.event_aim') %></div>' + point.aim_desc;
                  }
                  if (point.job_desc && point.job_desc != '') {
                    cbody += '<div class="label"><%= t('.event_description') %></div>' + point.job_desc;
                  }
                  cbody += '<div class="label"><%= t('.event_vacancies') %></div>' + point.vacancies;
                  cbody += '<div style="margin-top: 10px;"><a href="' + point.url + '"><%= t('.show_link') %></a></a>';
                  cbody += '</div>';
                
                  infowindow.setContent(cbody);
                  infowindow.open(map, marker);
              });

              markers.push(marker);
          }
      });
      
      markerCluster = new MarkerClusterer(map, markers, {
        zoomOnClick: false, maxZoom: 13, gridSize: 30
      });
      
      google.maps.event.addListener(markerCluster, 'clusterclick', function(e) {
          var cluster = e[0], body = '', markers = cluster.getMarkers(), point, marker;
          
          body += '<div class="infowindow"><div class="clustered">';
          for (var i = 0; i < markers.length; i++) {
              point = markers[i].getData();
              body += '<a href="' + point.url + '"';
              if (!point.has_vacancies) {
                body += ' class="no_vacancies"';
              }
              body += '>' + point.name + '</a>';
          }
          body += '</div></div>';

          infowindow.setContent(body);
          infowindow.open(map, cluster.getIcon());
      });
      
      map.setCenter(bounds.getCenter());
  }
  
  function updateLocations(data) {
      if (markerCluster) {
          markerCluster.clearMarkers();
      }
      addLocations(data);
  }
  
  jQuery(document).ready(showMap);
</script>