<div id="map-legend">
	<%= image_tag 'map/red_mini_marker.png', :alt => '' %> <%= t('.event_no_vacancies') %>
	<%= image_tag 'map/yellow_mini_marker.png', :alt => '' %> <%= t('.event_vacancies') %>
	<%= image_tag 'map/blue_mini_marker.png', :alt => '' %> <%= t('.event_clustered') %>
</div>