<div id="submenu">
  <div class="submenu-border">
  <ul>
    <% if current_user %>
    <li<%= ' class="active"' if %w{create new}.include?(action_name) and request.path_parameters[:controller] == 'events' %>><%= link_to t('.register'), new_event_path %><span class="arrow"></span></li>
    <li<%= ' class="active"' if %w{my}.include?(action_name) or (request.path_parameters[:controller] == 'participations' and %w{index}.include?(action_name)) %>><%= link_to t('.my_events'), my_events_path %><span class="arrow"></span></li>
    <% else %>
    <li<%= ' class="active"' if %w{create new}.include?(action_name) and request.path_parameters[:controller] == 'events' %>><%= link_to t('.register'), signup_path %><span class="arrow"></span></li>
    <% end %>
    <li<%= ' class="active"' if action_name == 'index' and request.path_parameters[:controller] == 'events' %>><%= link_to t('.show_all'), events_path %><span class="arrow"></span></li>
    <li<%= ' class="active"' if action_name == 'latest' %>><%= link_to t('.latest'), latest_events_path %><span class="arrow"></span></li>
    <%#
    <li class="pending"><a href="#">Populaarsemad</a><span class="arrow"></span></li>
    %>
    <li<%= ' class="active"' if action_name == 'map' %>><%= link_to t('.show_on_map'), map_events_path %><span class="arrow"></span></li>
    <li><%= link_to t('.registration_wiki'), (I18n.locale == :ru ? 'http://www.teemeara.ee/loo-kaasa-ru/tule-talgutele/registreerimise-kkk' : 'http://www.teemeara.ee/loo-kaasa/tule-talgutele/registreerimise-kkk') %><span class="arrow"></span></li>
  </ul>
  </div>
</div>