<div class="container-left">
  <%= render 'submenu' %>
  
  <div style="text-align: right; width: 168px; margin-top: 20px;">
    <% form_tag events_path, :method => :get, :class => :filter do %>
    <%= render 'filter' %>
    <% end %>
  </div>
</div>
<div class="container-right">
  <h1><%= t('.title') %></h1>
  <%= link_to "iCal", {:controller => 'events', :action => 'index', :format => :ics, :only_path => false, :protocol => "webcal"} %>

  <%= render @events %>
  
  <%= paginate %>
</div>
