<h1>Talgud</h1>

<p>
  <%= link_to 'Lisa talgu', new_event_path %>
  <%= link_to 'Vaata kaarti', '#showmap', :onclick => "$('#show_by_map').show();$('#show_by_list').hide();return false;" %>
  <%= link_to 'Vaata nimekirjana', '#showlist', :onclick => "$('#show_by_list').show();$('#show_by_map').hide();return false;" %>
</p>

<div id="show_by_map">
  <div id="map" style="height: 600px"></div>
</div>

<div id="show_by_list" style="display: none;">
  <ul>
  <% for event in @events %>
  <li><%= link_to event.name, event_path(event) %></li>
  <% end %>
  </ul>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">

  var events = <%= @events.collect{ |e| {:name => e.name, :latitude => e.latitude, :longitude => e.longitude, :url => event_path(e)} }.to_json %>;
  var map;

  function showMap() {
      map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9, scrollwheel: false,
          center: new google.maps.LatLng(58.564, 25.729),
          mapTypeId: google.maps.MapTypeId.HYBRID
      });
      
      addLocations(events);
  }
  
  /**
   *
   */
  function addLocations(data) {
      jQuery.each(data, function(i, point) {
          if (Math.abs(point.latitude) >= 0.1 && Math.abs(point.longitude) >= 0.1) {
              var cbody = '<b>' + point.name + '</b> &ndash; <a href="' + point.url + '" style="text-decoration: underline;">Vaata</a>'
            
              var infowindow = new google.maps.InfoWindow({ content: cbody });
              
              var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(point.latitude, point.longitude),
                  map: map, title: point.name
              });
              
              google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map, marker);
              });
          }
      });
  }
  
  jQuery(document).ready(showMap);
</script>