<div class="container-left">
  <%= render 'submenu' %>
</div>
<div class="container-right">
  <h1><%= t('.title') %></h1>
  
  <p style="margin-bottom: 20px;">
    <%= t('.header_hint') %>
  </p>

  <% semantic_form_for @event do |f| %>
    <%= render 'form' %>
    
    <div class="submit-container round">
      <div style="padding: 0 20px 20px; text-align: left;">
        <%= t('.footer_hint') %>
      </div>
      
      <% f.buttons do %>
        <%= f.submit t('formtastic.labels.event.actions.submit'), :class => 'submit', :disable_with => t('formtastic.labels.event.actions.submit') %>
      <% end %>
    </div>
  <% end %>
</div>
