<h1><%= @event.name %></h1>

<table>
<tr>
  <td><b><%= t('formtastic.labels.event.event_type') %></b></td>
  <td><%= @event.event_type.name %></td>
</tr>
<tr>
  <td><b>Talgujuht</b></td>
  <td><%= @event.manager.name %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.name') %></b></td>
  <td><%= @event.name %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.location_address_street') %></b></td>
  <td><%= @event.location_address_street %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_aim_description') %></b></td>
  <td><%= @event.meta_aim_description %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_job_description') %></b></td>
  <td><%= @event.meta_job_description %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.max_participants') %></b></td>
  <td><%= @event.max_participants %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.begins_at') %></b></td>
  <td><%= @event.begins_at %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.ends_at') %></b></td>
  <td><%= @event.ends_at %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_bring_with_you') %></b></td>
  <td><%= @event.meta_bring_with_you %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_provided_for_participiants') %></b></td>
  <td><%= @event.meta_provided_for_participiants %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.meta_subject_info') %></b></td>
  <td><%= @event.meta_subject_info %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.gathering_location') %></b></td>
  <td><%= @event.gathering_location %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.gathering_time') %></b></td>
  <td><%= @event.gathering_time %></td>
</tr>
<tr>
  <td><b><%= t('formtastic.labels.event.notes') %></b></td>
  <td><%= @event.notes %></td>
</tr>
</table>

<h2>Selle talgu lähedal on ka need talgud</h2>

<div id="map" style="height: 400px; width: 500px;"></div>

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">

  var events = <%= @events.collect{ |e| {:name => e.name, :latitude => e.latitude, :longitude => e.longitude, :url => event_path(e)} }.to_json %>;
  var map, bounds;

  function showMap() {
      map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12, scrollwheel: false,
          center: new google.maps.LatLng(58.564, 25.729),
          mapTypeId: google.maps.MapTypeId.HYBRID
      });
      
      bounds = new google.maps.LatLngBounds();
      
      addLocations(events);
  }
  
  /**
   *
   */
  function addLocations(data) {
      jQuery.each(data, function(i, point) {
          if (Math.abs(point.latitude) >= 0.1 && Math.abs(point.longitude) >= 0.1) {
              var cbody = '<b>' + point.name + '</b> &ndash; <a href="' + point.url + '" style="text-decoration: underline;">Vaata</a>'
            
              var infowindow = new google.maps.InfoWindow({ content: cbody });
              
              var position = new google.maps.LatLng(point.latitude, point.longitude);
              bounds.extend(position);
              
              var marker = new google.maps.Marker({position: position, map: map, title: point.name});
              
              google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map, marker);
              });
          }
      });
      
      map.setCenter(bounds.getCenter());
      map.panToBounds(bounds);
  }
  
  jQuery(document).ready(showMap);
</script>