<div class="container-left">
  <%= render 'submenu' %>
  
  <% if permitted_to?(:edit, @event) %>
  <%= render 'submenu_edit' %>
  <% elsif not @nearby_events.empty? %>
  <div class="container-left-inner">
    <div class="bluebox-border"><h2 class="colored bg-blue"><%= t('.more_events_in_area') %></h2></div>
    <ul class="border-list">
      <% for event in @nearby_events %>
      <li><%= link_to event.name, event_path(event), :style => 'font-weight: bold;' %><br /><span class="small"><%= event.location_address %></span></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div class="container-right">
  <div class="clearfix">
    <div class="object-left">
      <h1><%=h @event.name %> <span class="object-type"><%=h @event.event_type.name %></span></h1>
      
      <div class="object-location">
        <a href="#map" id="map_link"><%= @event.location_address %></a>
      </div>
    </div>
    <div class="object-right noprint">
      <div class="reg-link">
      <%= link_to t('.register_to_this_event'), new_event_participation_path(@event) %>
      </div>
      <% if not @event.can_register? %>
      <div class="splash-box" style="left: 23px; z-index: 10; width: 239px; top: 50px;"><%= t('.registration_starts_at', :date => format_date(@event.registration_begins_at), :time => format_time(@event.registration_ends_at)) %></div>
      <% elsif not @event.vacancies? %>
      <div class="splash-box" style="left: 23px; z-index: 10; width: 239px; top: 58px;"><%= t('.no_vacancies') %></div>
      <% end %>
    </div>
  </div>

  <div class="object-detail">
    <table class="vertical-data">
      <tr>
        <td></td>
        <td><div class="object-detail-time"><%= t('.starts_at', :date => duration_dates(@event), :time => duration_times(@event)) %></div></td>
      </tr>
      
      <tr>
        <td class="first"><%= t('formtastic.labels.event.meta_aim_description') %></td>
        <td><%=h @event.meta_aim_description %></td>
      </tr>
      <% unless @event.meta_job_description.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.meta_job_description') %></td>
        <td><%=h @event.meta_job_description %></td>
      </tr>
      <% end %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.max_participants') %></td>
        <td><%=h @event.max_participants %></td>
      </tr>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.vacancies') %></td>
        <td><%=h @event.vacancies %></td>
      </tr>
      <% unless @event.meta_bring_with_you.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.meta_bring_with_you') %></td>
        <td><%=h @event.meta_bring_with_you %></td>
      </tr>
      <% end %>
      <% unless @event.meta_provided_for_participiants.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.meta_provided_for_participiants') %></td>
        <td><%=h @event.meta_provided_for_participiants %></td>
      </tr>
      <% end %>
      <% unless @event.meta_subject_info.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.meta_subject_info') %></td>
        <td><%= auto_link(@event.meta_subject_info, :all, :target => "_blank") %></td>
      </tr>
      <% end %>
      <% if @event.managers.size > 1 %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.managers') %></td>
        <td>
          <% for manager in @event.managers %>
          <div style="margin-bottom: 5px;"><%=h manager_contacts(manager) %></div>
          <% end %>
        </td>
      </tr>
      <% elsif @event.managers.size == 1 %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.manager') %></td>
        <td><%=h @event.managers.first.name %></td>
      </tr>
      <% unless @event.managers.first.phone.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.manager_phone') %></td>
        <td><%=h @event.managers.first.phone %></td>
      </tr>
      <% end %>
      <% unless @event.managers.first.email.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.manager_email') %></td>
        <td><%=h @event.managers.first.email %></td>
      </tr>
      <% end %>
      <% end %>
      
      <% unless @event.meta_food_info.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.meta_food_info') %></td>
        <td><%=h @event.meta_food_info %></td>
      </tr>
      <% end %>
      <% unless @event.meta_sleep_info.blank? %>
        <td class="first"><%= t('formtastic.labels.event.meta_sleep_info') %></td>
        <td><%=h @event.meta_sleep_info %></td>
      </tr>
      <% end %>
      <% unless @event.meta_transport_info.blank? %>
        <td class="first"><%= t('formtastic.labels.event.meta_transport_info') %></td>
        <td><%=h @event.meta_transport_info %></td>
      </tr>
      <% end %>
      <% unless @event.meta_cash_info.blank? %>
        <td class="first"><%= t('formtastic.labels.event.meta_cash_info') %></td>
        <td><%=h @event.meta_cash_info %></td>
      </tr>
      <% end %>
      <% unless @event.registration_text.blank? %>
        <td class="first"><%= t('formtastic.labels.event.registration_text') %></td>
        <td><%=h @event.registration_text %></td>
      </tr>
      <% end %>
      <% unless @event.languages.empty? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.languages') %></td>
        <td><%=h languages_label(@event) %></td>
      </tr>
      <% end %>
      <% unless @event.gathering_location.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.gathering_location') %></td>
        <td><%=h @event.gathering_location %></td>
      </tr>
      <% end %>
      <% unless @event.notes.blank? %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.notes') %></td>
        <td><%=h @event.notes %></td>
      </tr>
      <% end %>
      <tr>
        <td class="first"><%= t('formtastic.labels.event.code') %></td>
        <td>
          <%=h @event.code %> <a href="http://www.teemeara.ee/loo-kaasa/toeta-talguid" target="blank"><%= t('.sponsor_this_event') %></a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= image_tag 'ical.png', :style => 'vertical-align: middle;' %>
          <span style="vertical-align: middle;"><%= link_to t('events.index.save_ical'), event_path(@event, :format => :ics) %></span>
        </td>
      </tr>
    </table> 
  </div>
  
  <a name="map" id="map_target"></a>
  <% if @event.latitude and @event.longitude %><div id="event_map" style="margin-top: 20px; height: 500px;"></div><% end %>
</div>

<%= javascript_include_tag 'jquery.scrollTo-min' %>
<% if @event.latitude and @event.longitude %>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<%= javascript_include_tag 'markerclusterer', 'datamarker' %>
<script type="text/javascript" charset="utf-8">
  var map, bounds;

  function showMap() {
      map = new google.maps.Map(document.getElementById('event_map'), {
          zoom: 8, scrollwheel: false,
          center: new google.maps.LatLng(58.564, 25.729),
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      
      var position = new google.maps.LatLng(<%= @event.latitude %>, <%= @event.longitude %>);
      var marker = new google.maps.Marker({position: position, map: map, title: '<%= @event.name %>', icon: <%= if @event.vacancies? then 'clusterer_yellow_icon' else 'clusterer_red_icon' end %>});
      var infowindow = new google.maps.InfoWindow({maxwidth: 350});
      
      var cbody = '<div class="infowindow" style="margin-top: 10px;">';
      cbody += '<h3><%=h @event.name %></a></h3>';
      cbody += '<span class="object-type"><%=h @event.event_type.name %></span> <%=h @event.location_address %>';
      cbody += '</div>';
          
      infowindow.setContent(cbody);
      infowindow.open(map, marker);
      
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
      });
      
      map.setCenter(position);
  }
  
  jQuery(document).ready(showMap);
  
  jQuery('#map_link').click(function() {
      $(window).scrollTo('#map_target', 1000);
      return false;
  });
</script>
<% end %>