<h1><%= t('.title', :county => @county.label) %></h1>

<div class="textcontent">
  <% if permitted_to?(:create, :admin_municipalities) %>
  <%= link_to t('.add_municipality'), new_admin_county_municipality_path(@county) %>
  <% end %>
</div>

<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= t('formtastic.labels.municipality.name') %></th>
    <th><%= t('formtastic.labels.municipality.kind') %></th>
    <th><%= t('formtastic.labels.settlement.regional_managers') %></th>
    <th></th>
  </tr>
  </thead>
  <% for municipality in @municipalities %>
  <tr>
    <td><%=h municipality.name %></td>
    <td><%=h t("formtastic.labels.municipality.kinds.#{municipality.kind}") %></td>
    <td><%= managers_for_object(municipality, 60) %></td>
    <td class="actions">
      <% if permitted_to?(:read, :admin_settlements) %>
      <%= link_to t('.settlements'), admin_county_municipality_settlements_path(@county, municipality) %>
      <% end %>
      
      <% if permitted_to?(:edit, :admin_municipalities) %>
      <%= link_to t('admin.common.edit'), edit_admin_county_municipality_path(@county, municipality) %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </table>
</div>
