<h1><%= t('.title') %></h1>

<table border="1">
<% for municipality in @municipalities %>
<tr>
  <td><%=h municipality.name %></td>
  <td>
    <%= link_to 'Külad / asulad / linnaosad', admin_county_municipality_settlements_path(@county, municipality) %>
    <%= link_to 'Muuda', edit_admin_county_municipality_path(@county, municipality) %>
  </td>
</tr>
<% end %>
</table>

<%= link_to 'Lisa', new_admin_county_municipality_path(@county) %>