<h1><%= t('.title') %></h1>

<div class="textcontent">
  <%= link_to t('.add_user'), new_admin_user_path %>
</div>

<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= t('formtastic.labels.user.name') %></th>
    <th><%= t('formtastic.labels.user.email') %></th>
    <th><%= t('formtastic.labels.user.status') %></th>
    <th></th>
  </tr>
  </thead>
  <% for user in @users %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%=h t("formtastic.labels.user.statuses.#{user.status}") %></td>
    <td class="actions"><%= link_to t('admin.common.edit'), edit_admin_user_path(user) %></td>
  </tr>
  <% end %>
  </table>
</div>
