<h1><%= t('.title') %></h1>

<div class="textcontent">
  <%= link_to t('.add_user'), new_admin_user_path %>
</div>

<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= order @search, :by => :firstname, :as => t('formtastic.labels.user.firstname'), :params_scope => :order %></th>
    <th><%= order @search, :by => :lastname, :as => t('formtastic.labels.user.lastname'), :params_scope => :order %></th>
    <th><%= order @search, :by => :email, :as => t('formtastic.labels.user.email'), :params_scope => :order %></th>
    <th><%= order @search, :by => :phone, :as => t('formtastic.labels.user.phone'), :params_scope => :order %></th>
    <th><%= t('formtastic.labels.user.status') %></th>
    <th class="actions"><%= image_tag 'admin/magnifier.png', :class => :filter_toggle, :alt => t('admin.common.apply_filter') %></th>
  </tr>
  </thead>
  <tr class="filter"<%= ' style="display: none;"' unless filtering? %>>
    <% semantic_form_for @search, :html => {:class => 'searchform'} do |f| %>
    <td><%= f.input :firstname_like, :label => false, :input_html => {:size => 20}  %></td>
    <td><%= f.input :lastname_like, :label => false, :input_html => {:size => 20}  %></td>
    <td><%= f.input :email_like, :label => false, :input_html => {:size => 20}  %></td>
    <td><%= f.input :phone_like, :label => false, :input_html => {:size => 20}  %></td>
    <td></td>
    <td class="actions"><%= f.submit :search, :value => t('admin.common.search') %></td>
    <% end %>
  </tr>
  <%= filter_notify(7) %>  
  
  <% for user in @users %>
  <tr>
    <td><%=h user.firstname %></td>
    <td><%=h user.lastname %></td>
    <td><%=h user.email %></td>
    <td><%=h user.phone %></td>
    <td><%=h t("formtastic.labels.user.statuses.#{user.status}") %></td>
    
    <td class="actions">
      <% if permitted_to?(:read, :admin_users) %>
      <%= link_to t('admin.common.view'), admin_user_path(user) %>
      <% end %>
      <% if permitted_to?(:edit, :admin_users) %>
      <%= link_to t('admin.common.edit'), edit_admin_user_path(user) %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </table>
  <%= paginate %>
</div>
