<h1><%= t('.title') %></h1>

<div class="textcontent">
  <% if permitted_to?(:create, :admin_counties) %>
  <%= link_to t('.add_county'), new_admin_county_path %>
  <% end %>
</div>

<div class="datacontent">
  <table class="datatable">
  <thead>
  <tr>
    <th><%= order @search, :by => :name, :as => t('formtastic.labels.county.name') %></th>
    <th><%= t('formtastic.labels.county.regional_managers') %></th>
    <th class="actions"><%= image_tag 'admin/magnifier.png', :class => :filter_toggle, :alt => t('admin.common.apply_filter') %></th>
  </tr>
  </thead>
  <tr class="filter"<%= ' style="display: none;"' unless filtering? %>>
    <% semantic_form_for @search, :html => {:class => 'searchform'} do |f| %>
    <td><%= f.input :name_like, :label => false, :required => false %></td>
    <td></td>
    <td class="actions"><%= f.submit :search, :value => t('admin.common.search') %></td>
    <% end %>
  </tr>
  <%= filter_notify(3) %>
  <% for county in @counties %>
  <tr>
    <td><%=h county.name %></td>
    <td><%= managers_for_object(county, 60) %></td>
    <td class="actions">
      <% if permitted_to?(:read, :admin_municipalities) %>
      <%= link_to t('.municipalities'), admin_county_municipalities_path(county) %>
      <% end %>
      
      <% if permitted_to?(:edit, :admin_counties) %>
      <%= link_to t('admin.common.edit'), edit_admin_county_path(county) %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </table>
  <%= paginate %>
</div>
