<div class="container-right" style="margin-left: 220px;">
  <div id="container-login">
    <h1><%= t('.login') %></h1>
    
    <% semantic_form_for :user_session, @user_session, :url => user_sessions_path do |f| %>
      <% f.inputs do %>
        <%= f.input :email %>
        <%= f.input :password, :wrapper_html => {:style => 'padding-bottom: 0px;'} %>
        <li>
          <%= link_to t('.forgot_password'), '#reset-password', :id => 'reset_password_link' %>
        </li>
      <% end %>
      <ol>
        <li class="commit">
          <%= f.submit t('.login_submit') %>
          või <%= link_to t('.signup'), signup_path %>
        </li>
      </ol>
    <% end %>
  </div>

  <div id="container-resetpassword" style="display: none;">
    <h1><%= t('.reset_password') %></h1>
    
    <p style="margin-bottom: 20px;"><%= t('.reset_password_hint')%></p>
    
    <% semantic_form_for :password_reminder, :url => password_reminders_path do |f| %>
      <% f.inputs do %>
        <%= f.input :email %>
      <% end %>
      <ol>
        <li class="commit">
          <%= f.submit t('.send_password') %>
          või <%= link_to t('.reset_password_no_thanks'), '#login', :id => 'login_link' %>
        </li>
      </ol>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function() {
      $('#reset_password_link').click(function() {
          $('#container-login').hide();
          $('#container-resetpassword').show();
          return false;
      });
      
      $('#login_link').click(function() {
          $('#container-resetpassword').hide();
          $('#container-login').show();
          return false;
      });
  });
</script>