<div class="container-left">
  <%= render 'events/submenu' %>
</div>
<div class="container-right">
  <h1><span style="font-weight: normal"><%= t('.title') %></span> <%= @event.name %></h1>

  <% semantic_form_for @event_participant, :url => event_participation_path(@event, @event_participant) do |f| %>
    <%= render 'form' %>
    <% f.buttons do %>
      <%= f.commit_button :update %>
    <% end %>
  <% end %>
</div>
