<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= t('admin.common.title') %></title>
  <%= stylesheet_link_tag 'admin/style', 'admin/formtastic', 'admin/formtastic_changes' %>
  <%= javascript_include_tag 'admin/jquery.min', 'admin/scripts' %>
</head>

<body>
  <div id="header">
    <%= print_navigation_menu %>
    <%#
    <div style="text-align: right; margin-top: -2px">
      <form action="./admin/search" method="get">
      <input type="search" id="search_field" name="q" style="color: #666" value="Otsi" title="Otsi" />
      </form>
    </div>
    %>
  </div>
  
  <div id="content">
    <% if controller_name == 'events' %>
    <ul id="submenu" class="navmenu">
      <li><%= link_to t('admin.events.index.title'), admin_events_path, :class => if action_name == 'index' then :active end %></li>
      <li><%= link_to t('admin.events.map.title'), map_admin_events_path, :class => if action_name == 'map' then :active end %></li>
    </ul>
    <div class="clearer"></div>
    <% end %>
    
    <%= print_flash %>
    
    <%= yield %>
  </div>
  
  <div id="footer">
    <%= t('admin.common.logged_in') %> <b><%= current_user.name %></b>. <%= link_to t('admin.common.logout'), admin_logout_path %>
    <div style="float: right; text-align: right; color: #999;"><%= t('admin.common.title') %></div>
  </div>
</body>
</html>