<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="Fraktal" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Teeme ära! Talgud</title>
  <%= stylesheet_link_tag 'style', 'formtastic', 'formtastic_changes' %>
  <!--[if IE]><%= stylesheet_link_tag 'style_ie' %><![endif]-->
  <%= javascript_include_tag 'jquery.min' %>
</head>

<body>
  <div id="wrap-holder">
  <div id="wrap">
    <div id="wrap-inner"> 
      <div id="header" class="clearfix">
        <%= render 'shared/logo' %>
        <%= render 'shared/langmenu' %>
        <%= render 'shared/mainmenu' %>
      </div>
    
      <div class="container clearfix">
        <% unless flash.empty? %>
        <div style="border: 1px solid green">
          <% flash.each do |key, message| %>
          <%= message %>
          <% end %>
        </div>
        <br/>
        <% end %>
        
        <%= yield %>
      </div>
      <div class="grass">
        <a href="http://www.okia.ee" id="okia">Okia</a>
      </div>
    </div>
  </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
