<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="Fraktal" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= t('common.title') %></title>
  <%= stylesheet_link_tag 'style', 'formtastic', 'formtastic_changes', :media => :screen %>
  <%= stylesheet_link_tag 'print', :media => :print %>
  <!--[if IE]><%= stylesheet_link_tag 'style_ie' %><![endif]-->
  <%= javascript_include_tag 'jquery.min', 'scripts' %>
</head>

<body>
  <div id="wrap-holder">
  <div id="wrap">
    <div id="wrap-inner"> 
      <div id="header" class="clearfix">
        <%= render 'shared/logo' %>
        <%= render 'shared/langmenu' %>
        <%= render 'shared/mainmenu' %>
      </div>
    
      <div class="container clearfix">
        <%= print_flash %>
        <%= yield %>
      </div>
      <div class="grass">
        <a href="http://www.okia.ee" style="background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-size: auto auto; display: block; position: absolute; text-indent: -9999px; right: 0pt; top: 15px; width: 40px;outline: none;" target="blank">Okia</a>
        <a href="http://www.edicy.com" style="background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-size: auto auto; position: absolute; text-indent: -9999px; right: 140px; top: 15px; height: 21px; width: 43px; outline: medium none; display: block;" target="blank">Edicy</a>
        <a href="http://havirtual.com" style="background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-size: auto auto; position: absolute; display: block; text-indent: -9999px; top: 14px; right: 50px; height: 30px; width: 80px; outline: medium none;" target="blank">HAVirtual</a>
      </div>
    </div>
  </div>
  </div>
  <%= render 'shared/footer' %>
  <%= render 'shared/googleanalytics' %>
</body>
</html>
