<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="Fraktal" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= t('common.title') %></title>
  <%= stylesheet_link_tag 'style' %>
  <!--[if IE]><%= stylesheet_link_tag 'style_ie' %><![endif]-->
  <%= javascript_include_tag 'jquery.min' %>
</head>

<body id="front">
  <div id="wrap-holder"><div id="wrap">
    <div id="wrap-inner">
      <div id="header" class="clearfix">
        <%= render 'shared/logo' %>
        <%= render 'shared/langmenu' %>
        <%= render 'shared/mainmenu' %>
      </div>
    
      <div class="container clearfix"> 
        <%= print_flash %>
        
        <div class="container-left">
          <div class="orangebox-border"><div class="orangebox <%= get_locale %>">
            <p>
              <b><%= t('.intro') %></b>
            </p>
            <p>
              <%= t('.objective') %>
            </p>
            
            <div class="pad-10-0">
              <%= link_to t('.register_event'), if current_user then new_event_path else signup_path end, :class => :bigbtn %>
              <div class="orangebox-small">
                <%= t('common.or') %> <%= link_to t('.register_link'), events_path %>
              </div>
            </div>
          </div></div>
        </div>
        <div class="container-right">
          <div id="map" style="height:310px;"></div>
          <%= render 'events/map' %>
        </div>
      </div>
      <div class="container clearfix"> 
        <div class="container-left">
          <div class="colorbox colorbox-light-green"><div class="colorbox-border" style="padding: 10px;">
            <table class="stats">
            <tr>
              <td><%= image_tag 'ico_event_count.gif', :alt => '' %></td>
              <td><%= image_tag 'ico_current_participants.gif', :alt => '' %></td>
              <td><%= image_tag 'ico_needed_participants.gif', :alt => '' %></td>
            </tr>
            <tr class="numbers">
              <td id="stats_event_count"><%= @event_count %></td>
              <td id="stats_current_participants"><%= @current_participants %></td>
              <td id="stats_needed_participants"><%= @needed_participants %></td>
            </tr>
            <tr class="texts">
              <td><%= t('.event_count') %></td>
              <td><%= t('.current_participants') %></td>
              <td><%= t('.needed_participants') %></td>
            </tr>
            </table>
          </div></div>
          <script type="text/javascript" charset="utf-8">
              setInterval(function() {
                  jQuery.getJSON('<%= stats_events_path %>', function(data) {
                      $('#stats_event_count').text(data.event_count);
                      $('#stats_current_participants').text(data.current_participants);
                      $('#stats_needed_participants').text(data.needed_participants);
                  });
              }, 60000);
          </script>
          <div class="pad-15">
            <%#= image_tag 'eea-logo.jpg', :alt => '' %>
            <%#= image_tag 'nor-logo.jpg', :alt => '' %>
          </div>
        </div>
        <div class="container-right">
          <div class="two-columns clearfix">
            <div class="column-1">
              <div class="bluebox-border"><h2 class="colored bg-blue"><%= t('events.latest.title') %></h2></div>
              <ul class="border-list">
                <% for event in @latest %>
                <li><%= link_to event.name, event_path(event), :style => 'font-weight: bold' %><br /><span class="small"><%= event.location_address %></span></li>
                <% end %>
                <li class="last">
                  <%= link_to t('.show_all_events'), events_path %><br />
                </li>
              </ul>
            </div>
            <div class="column-2">
              <div class="orangebox-border"><h2 class="colored bg-orange"><%= t('.internet_reflections') %></h2></div>
              <div id="twitter_div"><ul id="twitter_update_list" class="list"></ul></div>
              <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js?1"></script>
              <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/teemeara.json?callback=twitterCallback2&amp;count=5"></script>
            </div>
          </div>
        </div>
      </div>
      <div class="grass">
        <a href="http://www.okia.ee" style="background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-size: auto auto; display: block; position: absolute; text-indent: -9999px; right: 0pt; top: 15px; width: 40px;outline: none;" target="blank">Okia</a>
        <a href="http://www.edicy.com" style="background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-size: auto auto; position: absolute; text-indent: -9999px; right: 140px; top: 15px; height: 21px; width: 43px; outline: medium none; display: block;" target="blank">Edicy</a>
        <a href="http://havirtual.com" style="background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-size: auto auto; position: absolute; display: block; text-indent: -9999px; top: 14px; right: 50px; height: 30px; width: 80px; outline: medium none;" target="blank">HAVirtual</a>
      </div>
    </div>
  </div></div>
  <%= render 'shared/footer' %>
  <%= render 'shared/googleanalytics' %>
</body>
</html>